---
import Navbar from "../components/Navbar.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import Layout from "../layouts/Layout.astro";
---

<Layout title={i18n(I18nKey.notFound)}/>

<slot slot="head" name="head">
	<link rel="prefetch" href="/"/>
</slot>

<!-- Navbar -->
<div id="top-row" class="z-50 pointer-events-none relative transition-all duration-700
						 max-w-[var(--page-width)] px-0 md:px-4 mx-auto">
	<div id="navbar-wrapper" class="pointer-events-auto sticky top-0 transition-all">
		<Navbar></Navbar>
	</div>
</div>

<div class="w-full h-full absolute top-[5.5rem] flex flex-col gap-6 justify-center items-center">
	<div class="text-5xl font-bold text-white">{i18n(I18nKey.notFound)}</div>
	<a href="/" class="p-4 font-bold text-xl text-[var(--primary)] bg-[var(--btn-regular-bg)] rounded-lg
					   hover:scale-110 active:scale-95 hover:bg-[var(--btn-regular-bg-hover)] active:bg-[var(--btn-regular-bg-active)]">
		{i18n(I18nKey.goHome)}
	</a>
</div>
